<div class="hero-text heading54">
  <div class="light">We believe that everyone has a story, but not everyone can tell a story.</div><br>
  <div class="bold">We’re creative-private-investigators, and we’ll tell your story for you.</div>
</div>

<%= link_to "Learn about our process", "", :class => "page-button" %>
<%= link_to "View some of our work", "", :class => "page-button" %>
<%= link_to "Hire us to tell your story", "", :class => "page-button" %>
