<div class="row">
  <div class="large-12 columns hero-block">
    <h2 class="bold" style="margin-bottom: 50px">Our job is to tell your story.</h2>
    <h3 class="thin" style="margin-bottom: 50px">We know everyone has a story, but not everyone can tell a story.</h2>
    <h3 class="thin">We are professional explainers. Hire us to share your story with the world. Consider us your create-private-investigators.</h2>
  </div>
</div>

<div class="row" style="margin-top: 50px">
  <div class="large-4 columns">
    <p><a href="/process" class="large button">Learn about our process</a></p>
  </div>
  <div class="large-4 columns">
    <p><a href="/work" class="large button">View some of our work</a></p>
  </div>
  <div class="large-4 columns">
    <p><a href="/hire" class="large button">Hire us to tell your story</a></p>
  </div>
</div>
