<div class="container">
  <div class="row">
    <div class="large-12 columns hero-block">
      <center>
        <h2>We would love to tell your story.</h2>
      </center>
    </div>
  </div>

  <div class="row">
    <form>
      <fieldset>
        <div class="row">
          <div class="large-4 columns">
            <label>What's your name?</label>
            <input type="text" placeholder="Captain Henry Dombey">
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <label>What's your email?</label>
            <input type="text" placeholder="CaptainHenry@gmail.com">
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label>What kind of project are you thinking about?</label>
            <textarea placeholder="I'd love to work with you on my upcoming project documenting ship builders."></textarea>
          </div>
        </div>

      </fieldset>
    </form>

  </div>

  <div class="row">
    <div class="large-12 columns">
      <p><a href="/process" class="small button">Send Message</a></p>
    </div>
  </div>

</div>
