<div class="container">
  <div class="row">
    <div class="large-12 columns hero-block">
      <center>
        <h2 class="thin" style="margin-bottom: 50px">This is our process.</h2>
      </center>
    </div>
  </div>

  <div class="row" style="width: 960px">
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-1.png', :class => "margin-bottom-1" %>
        <h4 style="margin: 20px 0">Vision</h4>
      </center>
      <p>We’ll work with you to understand who you are, what you do, why you do it, and who you are trying to reach. After establishing your objectives, we formulate a vision, script, and timeline outlining how we plan to tell this story.</p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-2.png', :class => "margin-bottom-1"  %>
        <h4 style="margin: 20px 0">Production</h4>
      </center>
      <p>We'll shoot footage of you doing what you do best, and then we'll conduct interviews with relevant people. Or we'll hire actors and props to help tell your story for you. We may visit your home, your business, or other parts of your world.</p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-3.png', :class => "margin-bottom-1"  %>
        <h4 style="margin: 20px 0">Post-Production</h4>
      </center>
      <p>We'll edit the footage into a cohesive narrative, working to build an emotional aesthetic that matches the initial script and vision. You'll play an integral part, in providing feedback and criticism along the way.</p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-4.png', :class => "margin-bottom-1"  %>
        <h4 style="margin: 20px 0">Delivery</h4>
      </center>
      <p>We'll deliver an agreed amount of edits. We'll also provide all of the digital assets you'll need to distribute your story. This includes an optimized-for-web version of your video, the raw footage of the various shoots, and relevant source files.</p>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="large-12 columns">
      <center>
        <p><a href="/hire" class="large button">Hire us to tell your story</a></p>
      </center>
    </div>
  </div>
</div>
