<div class="container">
  <div class="row">
    <div class="large-12 columns hero-block">
      <center>
        <h2>This is our process.</h2>
      </center>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-1.png', :class => "margin-bottom-1" %>
        <h4>Vision</h4>
      </center>
      <p>We’ll work with you to understand who you are, what you do, why you do it, and who you are trying to reach. We establish an emotional understanding of your story, and begin to formulate a visions for your unique work.</p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-2.png', :class => "margin-bottom-1"  %>
        <h4>Production</h4>
      </center>
      <p>We’ll shoot footage with you doing what you do best, and then we’ll conduct an informal interview. We may visit your home, your business, or other parts of your world that help tell your story. </p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-3.png', :class => "margin-bottom-1"  %>
        <h4>Post-Production</h4>
      </center>
      <p>We’ll edit the footage into a cohesive narrative, adding sound and working to build an emotional aesthetic that describes who you are and what you are about. You’ll play an integral part, in providing feedback and criticsm along the way.</p>
    </div>
    <div class="large-3 columns">
      <center>
        <%= image_tag 'process-4.png', :class => "margin-bottom-1"  %>
        <h4>Delivery</h4>
      </center>
      <p>We’ll provide all of the digital assets you’ll need to distribute your story. This includes an optimized-for-web version of your video, the raw footage of the various shoots, photos, and source files for various production artifacts.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <center>
        <p><a href="/hire" class="small button">Hire us to tell your story</a></p>
      </center>
    </div>
  </div>
</div>
