<div class="row">
  <div class="large-12 columns hero-block">
    <center>
      <h2 class="thin">We tell stories.</h2>
    </center>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="hero-video">
      <iframe width="853" height="480" src="//www.youtube.com/embed/IlzhAkGb7zs?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row hero-block">
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/42154383?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/36986066?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>

<div class="row hero-block">
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/31649070?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/36046343?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>

<div class="row hero-block">
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/51324376?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="large-6 columns">
    <iframe src="http://player.vimeo.com/video/60016878?title=0&amp;byline=0&amp;portrait=0" width="450" height="253" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>

<div class="row" style="margin-top: 80px">
  <div class="large-12 columns">
    <center>
      <p><a href="/hire" class="large button">Hire us to tell your story</a></p>
    </center>
  </div>
</div>

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#hero-video").fitVids();
  });
</script>