// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #efefeb;
  font-family: Helvetica;
  color: #404040;
}

h2{
  font-weight: normal;
  color: #404040;
}

h4{
  font-weight: normal;
  color: #404040;
}

.hero-block{
  margin-top: 5em;
  margin-bottom: 2em;
}

.margin-top-1{
  margin-top: 1em;
}

.margin-bottom-1{
  margin-bottom: 1em;
}
