// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
  font-size: 13px;
}

h2{
  font-size: 56px;
  font-family: 'Source Sans Pro', sans-serif;
}

h3{
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

h4{
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

h2.thin{
  font-weight: 300;
}


h3.thin{
  font-weight: 300;
}


h2.bold{
  font-weight: 700;
}

.hero-block{
  margin-top: 5em;
  margin-bottom: 2em;
}

.margin-top-1{
  margin-top: 1em;
}

.margin-bottom-1{
  margin-bottom: 1em;
}

.uppercase{
  text-transform: uppercase;
}